<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세페이지!</title>
  </head>
  <body>
    <script src="static/showDetail.js" type="module"></script>
    <script src="static/comment.js" type="module"></script>
    <script src="static/Player.js" type="module"></script>
    <link href="static/Detail.css" rel="stylesheet" />
    <script src="https://www.youtube.com/iframe_api"></script>
    
    <!-- 유튜브 플레이어 -->
    <div id="player-wrapper">
      <div id="player"></div>
      <div id="click-blocker"></div>
    </div>
    <button id="muteButton">음소거 해제</button>

    <div id="movie-container"></div> 
    <div id="comment-form-container"></div>
    <button id="show-comment-form-button">댓글 작성하기</button>
    <form id="comment-form">
      <div>
        <label for="author">작성자:</label>
        <input type="text" id="author" required />
      </div>
      <div>
        <label for="comment">댓글:</label>
        <textarea id="comment" required></textarea>
      </div>
      <div>
        <label for="password">패스워드: </label>
        <input type="password" id="password" required />
      </div>
      <div>
        <button type="submit">댓글 남기기</button>
      </div>
    </form>
  </div>

    <div id="comment-container" class="comment-container"></div>
</div>
  </body>
</html>
