<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/style.css" rel="stylesheet" />
    <script src="static/script.js" defer></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="static/mainMovieList.js" defer></script>

    <title>MIAPEDIA : 영화소개페이지</title>
  </head>
  <body>
    <div id="header">
      <h1>
        <a href="index.html"
          ><img src="/static/img/logo.png" alt="MIA PEDIA"
        /></a>
      </h1>
      <form>
        <input
          type="text"
          id="searchInput"
          placeholder="영화 제목을 입력해주세요"
        />
        <button id="searchBtn">
          <img src="/static/img/search.png" alt="MIA PEDIA" />
        </button>
      </form>
    </div>

    <div id="main">
      <div id="player-wrapper">
        <div id="player"></div>
        <div id="click-blocker"></div>
      </div>
      <button id="muteButton">음소거 해제</button>
      <button id="previousBtn">Previous</button>
      <button id="nextBtn">Next</button>
      <br />
      <div id="popular-title">Popular !</div>
      <div id="popular-movie-container">
        <ul id="popular-movie-list"></ul>
        <a class="switchLeft sliderButton" id="leftBtn"><</a>
        <a class="switchRight sliderButton" id="rightBtn">></a>
      </div>
      <br />
      <div id="Cochelin-title">Cochelin3Star's pick !</div>
      <div id="Cochelin-movie-container">
        <ul id="Cochelin-movie-list"></ul>
        <a class="switchLeft sliderButton" id="CochelinleftBtn"><</a>
        <a class="switchRight sliderButton" id="CochelinrightBtn">></a>
      </div>
      <br />
      <div id="movieListBtn">더보기</div>
      <ul id="movieList"></ul>
      <button id="topBtn">
        <img src="/static/img/top.png" alt="MIA PEDIA" />
      </button>
    </div>
  </body>
</html>
