<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/search.css" rel="stylesheet" />
    <script src="static/search.js" defer></script>
    <script src="static/script.js" defer></script>
    <title>MIAPEDIA : 영화소개페이지</title>
  </head>
  <body>
    <div id="header">
      <h1>
        <a href="index.html"
          ><img src="/MIAPEDIA/img/logo.png" alt="MIA PEDIA"
        /></a>
      </h1>
      <form>
        <input
          type="text"
          id="searchInput"
          placeholder="영화 제목을 입력해주세요"
        />
        <button id="searchBtn" onclick="viewSearchMovie()">
          <img src="img/search.png" />
        </button>
      </form>
    </div>
    <div id="main">
      <h1 id="searchResult"></h1>
      <ul id="movieList"></ul>
      <button id="topBtn"><img src="img/top.png" /></button>
    </div>
  </body>
</html>
